In [1]:
#categorical data , data 
#which are descriptive rather than numerically informative

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#importing library for label encoding, OneHotEncoder as we 
#want data in binary format
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#trying stack overflow
from sklearn.compose import ColumnTransformer
#for splitting data set
from sklearn.model_selection import train_test_split
#using linear regression just imput is more tha none
from sklearn.linear_model import LinearRegression
#needed for backward elemeination
import statsmodels.formula.api as sm

In [35]:
data = pd.read_csv(r'/Users/divyashahi/OneDrive - Adobe/Machine_Leaning_Material/Startups_company.csv')

In [36]:
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [37]:
#extracting data from data set
real_X = data.iloc[:, 0:4]
real_Y = data.iloc[:, 4]
#real_y

In [38]:
#extracting data from data set
real_X = data.iloc[:, 0:4].values
real_Y = data.iloc[:, 4].values
real_X

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, 127716.82, 'California'],
       [130298.13, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'California'],
       [101913.08, 110594.11, 229160.95, 'Florida'],
       [100671.96, 91790.61, 249744.55, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [86419.7, 153514.11, 0.0, 'New York'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida'],
       [0.0, 135426.92, 0.0, 'California'],
       [542.05, 51743.15, 0.0, 'New York'],
       [0.0, 116983.8, 45173.06, 'California']], dtype=object)

In [39]:
#extracting data from data set
real_X = data.iloc[:, 0:4].values
real_Y = data.iloc[:, 4].values
#since actual data will be reaquired in 2d array
real_Y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [40]:
#here we have three categorical/ or dummy variable 
#three name of city which we need to encode
#in order to avoid multicolinearity problem

In [61]:
#creating an object of class labelEncoder
le = LabelEncoder()
#going to label encode categorical data, do changes and store in the
#req column
real_X[:, 3] = le.fit_transform(real_X[:, 3])
real_X[:, 3]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.])

In [62]:
#but we want data in binary format so need to use one hot encoer
#here we need to pass argument as categorical data
#we have three here thee name of cities
oneHe = OneHotEncoder()
oneHE = OneHotEncoder(categories=[3])

#again transform
real_x = oneHE.fit_transform(real_X).toarray()

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [63]:
#but we want data in binary format so need to use one hot encoer
#here we need to pass argument as categorical data
#we have three here thee name of cities
oneHe = OneHotEncoder()
oneHE = OneHotEncoder( categories='auto')
#again transform
x = real_X
real_X = oneHE.fit_transform(real_X).toarray()
real_X

array([[0., 1., 1., ..., 0., 0., 1.],
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.],
       ...,
       [1., 0., 0., ..., 1., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 1., 0.]])

14

You need to use ColumnTransformer to specify the column index not categories parameter.

Constructor parameter categories is to tell distinct category values explicitly. E.g. you could provide [0, 1, 2] explicitly, but auto will determine it. Further, you can use slice() object instead.

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

X = [[0, 'a'], [0, 'b'], [1, 'a'], [2, 'b']]

ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)

X = ct.fit_transform(X)

In [76]:
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [3])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)
X = ct.fit_transform(x)
X

array([[1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [77]:
#splitting training and testing data set
train_X, test_X, train_Y, test_Y = train_test_split(real_X, real_Y, test_size = 0.2, random_state = 0)

In [79]:
#apply regression model
#object variable mlr
MLR = LinearRegression()
#trainngin compleete in next line
MLR.fit(train_X, train_Y)

LinearRegression()

In [71]:
pred_Y = MLR.predict(test_X)

In [72]:
MLR.coef_

array([-7984.63443828,  8788.64621887,  9223.3191479 , -8301.59039468,
       -5937.57313552,  7816.22637167,  8396.79580718, -9092.31235426,
       -5329.66007827,  5241.35413571,  4783.01655464, -3945.14206044,
       -3709.2783466 ,  5502.7380409 ,  5038.41385937, -6105.14919931,
       -4054.75504332,  3750.98136382,  4382.52300044, -3944.98385296,
         491.25817735,  -182.78752504,  1043.37272473, -1220.95742676,
       -3528.06808807,  3851.20859161,  3851.30928438, -3107.48001296,
       -2588.72857904,  2958.51171453,  3344.10154536, -2789.75065541,
          34.69711206,   187.11058905,   132.49299825,  -148.31193102,
       -1000.56351216,  2563.03286474,  1996.37159652, -1682.18504003,
       -2260.91041305,  2551.13852912,  2551.13852912, -2260.91041305,
       -2009.45115885,  2341.62278332,  2341.62278332, -2009.45115885,
       -1284.78004318,  1575.73056566,  1575.73056566, -1284.78004318,
       -1863.56528496,  2118.14181655,  2118.14181655, -1863.56528496,
        -734.93731312,   998.29662904,   998.29662904,  -734.93731312,
       -1206.69168635,  1428.66419242,  1428.66419242, -1206.69168635,
           0.        ,     0.        ,     0.        ,     0.        ,
        -889.54839386,  1219.36248491,  1219.36248491,  -889.54839386,
        -687.83090455,   926.22970428,   926.22970428,  -687.83090455,
         167.03779144,   118.34840028,   118.34840028,   167.03779144,
       -1509.2974319 ,  1718.22133627,  1718.22133627, -1509.2974319 ,
           0.        ,     0.        ,     0.        ,     0.        ,
        -215.84223929,   427.00197282,   427.00197282,  -215.84223929,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
        -491.81382263,   651.10538948,   651.10538948,  -491.81382263,
        1071.24987211,  -822.38785239,  -822.38785239,  1071.24987211,
        -855.94684899,  1113.67191917,  1113.67191917,  -855.94684899,
        1805.14515448, -1508.30923668, -1508.30923668,  1805.14515448,
        -644.05217777,   865.40325706,   865.40325706,  -644.05217777,
        3271.56513138, -3013.84006119, -3013.84006119,  3271.56513138,
        1090.4050452 ,  -855.56907603,  -855.56907603,  1090.4050452 ,
        2412.40483921, -2120.11955195, -2120.11955195,  2412.40483921,
        2526.5702202 , -2305.8405677 , -2305.8405677 ,  2526.5702202 ,
         532.28995699,  -301.14627484,  -301.14627484,   532.28995699,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
         950.46992314,  -640.74464202,  -640.74464202,   950.46992314,
        1779.56163833, -1555.70414956, -1555.70414956,  1779.56163833,
        2782.08434675, -2524.91855175, -2524.91855175,  2782.08434675,
        3724.06333266, -3383.89605851, -3383.89605851,  3724.06333266,
        3720.16868883, -3473.42209906, -3473.42209906,  3720.16868883,
        3190.09008298, -2913.47114885, -2913.47114885,  3190.09008298,
        4199.49216244, -3968.89222873, -3968.89222873,  4199.49216244,
           0.        ,     0.        ,     0.        ,     0.        ,
        5359.15681   , -5062.88275517, -5062.88275517,  5359.15681   ,
           0.        ,     0.        ,     0.        ,     0.        ,
        7149.76466657, -6963.5447246 , -6963.5447246 ,  7149.76466657,
        6145.41985152, -5836.59304698, -5836.59304698,  6145.41985152,
       -1284.78004318,  1575.73056566,  1575.73056566, -1284.78004318,
       -7558.71849933,  7800.74228121,  7800.74228121, -7558.71849933,
           0.        ,     0.        ,     0.        ,     0.        ,
       -2009.45115885,  2341.62278332,  2341.62278332, -2009.45115885,
           0.        ,     0.        ,     0.        ,     0.        ,
       -1863.56528496,  2118.14181655,  2118.14181655, -1863.56528496,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
       -2875.53455809,  3107.62073158,  3107.62073158, -2875.53455809,
        -855.94684899,  1113.67191917,  1113.67191917,  -855.94684899,
        3190.09008298, -2913.47114885, -2913.47114885,  3190.09008298,
           0.        ,     0.        ,     0.        ,     0.        ,
       -1206.69168635,  1428.66419242,  1428.66419242, -1206.69168635,
        -215.84223929,   427.00197282,   427.00197282,  -215.84223929,
        3724.06333266, -3383.89605851, -3383.89605851,  3724.06333266,
           0.        ,     0.        ,     0.        ,     0.        ,
        1071.24987211,  -822.38785239,  -822.38785239,  1071.24987211,
        1090.4050452 ,  -855.56907603,  -855.56907603,  1090.4050452 ,
        -889.54839386,  1219.36248491,  1219.36248491,  -889.54839386,
       -5223.24918817,  5462.93226844,  5462.93226844, -5223.24918817,
       -7126.1349417 ,  7407.01842162,  7407.01842162, -7126.1349417 ,
       -2260.91041305,  2551.13852912,  2551.13852912, -2260.91041305,
        5359.15681   , -5062.88275517, -5062.88275517,  5359.15681   ,
        1805.14515448, -1508.30923668, -1508.30923668,  1805.14515448,
         950.46992314,  -640.74464202,  -640.74464202,   950.46992314,
           0.        ,     0.        ,     0.        ,     0.        ,
       -4388.26262164,  4647.86232335,  4647.86232335, -4388.26262164,
       -1682.18504003,  1977.99302477,  1977.99302477, -1682.18504003,
        2526.5702202 , -2305.8405677 , -2305.8405677 ,  2526.5702202 ,
       -4170.75898081,  4448.62335631,  4448.62335631, -4170.75898081,
           0.        ,     0.        ,     0.        ,     0.        ,
        -687.83090455,   926.22970428,   926.22970428,  -687.83090455,
       -1729.47514064,  2030.40989637,  2030.40989637, -1729.47514064,
        2412.40483921, -2120.11955195, -2120.11955195,  2412.40483921,
        6145.41985152, -5836.59304698, -5836.59304698,  6145.41985152,
         167.03779144,   118.34840028,   118.34840028,   167.03779144,
        -491.81382263,   651.10538948,   651.10538948,  -491.81382263,
         532.28995699,  -301.14627484,  -301.14627484,   532.28995699,
        3720.16868883, -3473.42209906, -3473.42209906,  3720.16868883,
        4199.49216244, -3968.89222873, -3968.89222873,  4199.49216244,
        2782.08434675, -2524.91855175, -2524.91855175,  2782.08434675,
        7149.76466657, -6963.5447246 , -6963.5447246 ,  7149.76466657,
           0.        ,     0.        ,     0.        ,     0.        ,
       -1509.2974319 ,  1718.22133627,  1718.22133627, -1509.2974319 ,
        3271.56513138, -3013.84006119, -3013.84006119,  3271.56513138,
        -644.05217777,   865.40325706,   865.40325706,  -644.05217777,
       -3327.57834892,  3565.87357008,  3565.87357008, -3327.57834892,
        1779.56163833, -1555.70414956, -1555.70414956,  1779.56163833,
        -734.93731312,   998.29662904,   998.29662904,  -734.93731312,
           0.        ,     0.        ,     0.        ,     0.        ,
       -5875.52393719,  5491.73275245,  5491.73275245, -5875.52393719,
       -4388.26262164,  4647.86232335,  4647.86232335, -4388.26262164,
       -3327.57834892,  3565.87357008,  3565.87357008, -3327.57834892,
       -4170.75898081,  4448.62335631,  4448.62335631, -4170.75898081,
       -7126.1349417 ,  7407.01842162,  7407.01842162, -7126.1349417 ,
        -687.83090455,   926.22970428,   926.22970428,  -687.83090455,
           0.        ,     0.        ,     0.        ,     0.        ,
        -889.54839386,  1219.36248491,  1219.36248491,  -889.54839386,
       -1509.2974319 ,  1718.22133627,  1718.22133627, -1509.2974319 ,
           0.        ,     0.        ,     0.        ,     0.        ,
        4199.49216244, -3968.89222873, -3968.89222873,  4199.49216244,
        -491.81382263,   651.10538948,   651.10538948,  -491.81382263,
         167.03779144,   118.34840028,   118.34840028,   167.03779144,
        -855.94684899,  1113.67191917,  1113.67191917,  -855.94684899,
       -2875.53455809,  3107.62073158,  3107.62073158, -2875.53455809,
           0.        ,     0.        ,     0.        ,     0.        ,
       -2260.91041305,  2551.13852912,  2551.13852912, -2260.91041305,
       -2009.45115885,  2341.62278332,  2341.62278332, -2009.45115885,
           0.        ,     0.        ,     0.        ,     0.        ,
       -1284.78004318,  1575.73056566,  1575.73056566, -1284.78004318,
       -1682.18504003,  1977.99302477,  1977.99302477, -1682.18504003,
       -1863.56528496,  2118.14181655,  2118.14181655, -1863.56528496,
        -734.93731312,   998.29662904,   998.29662904,  -734.93731312,
       -1206.69168635,  1428.66419242,  1428.66419242, -1206.69168635,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
        2526.5702202 , -2305.8405677 , -2305.8405677 ,  2526.5702202 ,
        2412.40483921, -2120.11955195, -2120.11955195,  2412.40483921,
        1779.56163833, -1555.70414956, -1555.70414956,  1779.56163833,
         950.46992314,  -640.74464202,  -640.74464202,   950.46992314,
        1805.14515448, -1508.30923668, -1508.30923668,  1805.14515448,
         532.28995699,  -301.14627484,  -301.14627484,   532.28995699,
        1090.4050452 ,  -855.56907603,  -855.56907603,  1090.4050452 ,
       -5223.24918817,  5462.93226844,  5462.93226844, -5223.24918817,
        1071.24987211,  -822.38785239,  -822.38785239,  1071.24987211,
        -644.05217777,   865.40325706,   865.40325706,  -644.05217777,
           0.        ,     0.        ,     0.        ,     0.        ,
        -215.84223929,   427.00197282,   427.00197282,  -215.84223929,
        3724.06333266, -3383.89605851, -3383.89605851,  3724.06333266,
        2782.08434675, -2524.91855175, -2524.91855175,  2782.08434675,
        3720.16868883, -3473.42209906, -3473.42209906,  3720.16868883,
           0.        ,     0.        ,     0.        ,     0.        ,
        3190.09008298, -2913.47114885, -2913.47114885,  3190.09008298,
           0.        ,     0.        ,     0.        ,     0.        ,
        5359.15681   , -5062.88275517, -5062.88275517,  5359.15681   ,
           0.        ,     0.        ,     0.        ,     0.        ,
        7149.76466657, -6963.5447246 , -6963.5447246 ,  7149.76466657,
        6145.41985152, -5836.59304698, -5836.59304698,  6145.41985152,
       -1579.12907439,  1579.12907439,  1579.12907439, -1579.12907439,
        -209.41616949,   209.41616949,   209.41616949,  -209.41616949,
        1735.25816461, -1735.25816461, -1735.25816461,  1735.25816461])

In [73]:
MLR.intercept_

46698.32041414423

In [80]:
#checking
test_Y

array([103282.38, 144259.4 , 146121.95,  77798.83, 191050.39, 105008.31,
        81229.06,  97483.56, 110352.25, 166187.94])

In [81]:
pred_Y

array([112591.05527263, 107112.20365301, 112591.05527263, 112157.83686637,
       112591.05527263, 120369.75260901, 118779.4681599 , 120369.75260901,
       112591.05527263, 112591.05527263])

In [ ]:
#this is not good way of prediction of multiple linear regression

Backward Elimination

In [ ]:
print("hi")

In [4]:
# to perform backward elimeination we need value of key and an sl may be simple linear regression
# and we get this via it's summary function